.about {
    border-top: 5px solid #373645;
    border-bottom: 5px solid #6e9bca;
    margin: 65px 0 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__header {
        margin: 10px 0;
        font-size: 3rem;
        text-transform: uppercase;
        color: #373645;
    }
    &__decription {
        margin: 10px 0;
        text-transform: uppercase;
        font-size: 2rem;
        color: #ccc;
        text-align: center;
    }
     .btn {
        margin: 10px 0;
     }

     &__offset {
        margin-top: 200px;
     }
}

@media (max-width: 1400px ) {
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}