.container
    #about.about
        .about__header About
        .about__decription The standard chunk of Lorem Ipsum used since the 1500s is below for those interested.
        a.btn(href='#') more details