.news#news
    .container
        .block-head__wrap
            .head-text news
    .news__background
        .container
            #news-slider.owl-carousel
                .item
                    .item__date
                        .item__month Dec
                        .item__day 28
                        .item__year 2015
                    .item__pic
                        a.item__pic-href(href='')
                            img(src='./blocks/news/img/news-1-photo.png')
                    .item__author-wrap
                        .item__author-info
                            .item__author-info-text
                                .item__author-text-prof writer
                                .item__name
                                    a.item__name-href(href='') bob marley/
                                .item__spec
                                    a.item__spec-href(href='') Finance
                            .item__time-ago 8 hours ago
                        .item__img-href
                            a(href='')
                        .item__video-href
                            a(href='')
                    .item__social
                        a(href='')
                            .item__like
                                .item__social-val 25
                        a(href='')
                            .item__share
                                .item__social-val 9
                        a(href='')
                            .item__comment
                                .item__social-val 25
                    .item__text
                        .item__text-header New Project is very coming soon...
                        .item__text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...
                        .btn Look at me

                .item
                    .item__date
                        .item__month Dec
                        .item__day 23
                        .item__year 2015
                    .item__pic
                        a.item__pic-href(href='')
                            img(src='./blocks/news/img/news-2-photo.png')
                    .item__author-wrap
                        .item__author-info
                            .item__author-info-text
                                .item__author-text-prof writer
                                .item__name
                                    a.item__name-href(href='') Michale rosso//
                                .item__spec
                                    a.item__spec-href(href='') Personal resources
                            .item__time-ago 5 days ago
                        .item__img-href
                            a(href='')
                        .item__video-href
                            a(href='')
                    .item__social
                        a(href='')
                            .item__like
                                .item__social-val 25
                        a(href='')
                            .item__share
                                .item__social-val 9
                        a(href='')
                            .item__comment
                                .item__social-val 25
                    .item__text
                        .item__text-header our new team friends...
                        .item__text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...
                        .btn Look at me
                .item
                    .item__date
                        .item__month Dec
                        .item__day 28
                        .item__year 2015
                    .item__pic
                        a.item__pic-href(href='')
                            img(src='./blocks/news/img/news-1-photo.png')
                    .item__author-wrap
                        .item__author-info
                            .item__author-info-text
                                .item__author-text-prof writer
                                .item__name
                                    a.item__name-href(href='') bob marley/
                                .item__spec
                                    a.item__spec-href(href='') Finance
                            .item__time-ago 8 hours ago
                        .item__img-href
                            a(href='')
                        .item__video-href
                            a(href='')
                    .item__social
                        a(href='')
                            .item__like
                                .item__social-val 25
                        a(href='')
                            .item__share
                                .item__social-val 9
                        a(href='')
                            .item__comment
                                .item__social-val 25
                    .item__text
                        .item__text-header New Project is very coming soon...
                        .item__text-content Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged...
                        .btn Look at me

