.news {
    .block-head__wrap {
        margin-top: 125px;
    }

    &__background {
        padding: 65px 0 0 0;
        background: resolve("./img/project-background.png");
        width: 100%;
        height: auto;
        z-index: 10;
    }

    .item {
        margin: 0 auto 50px;
        width: 610px;
        background: #fff;
        padding: 15px 3px;
        text-transform: uppercase;

        &__date {
            border-right: 1px solid #ccc;
            text-align: center;
            display: inline-block;
        }

        &__month {
            font-size: 25px;
            text-transform: uppercase;
        }

        &__day {
            color: #6e9bca;
            font-size: 50px;
            width: 80px;
            margin-top: -10px;
        }

        &__year {
            color: #ccc;
            font-size: 15px;
            width: 80px;
            line-height: 5px;
            margin-top: -5px;
        }

        &__pic {
            vertical-align: top;
            display: inline-block;
            width: 78px;
            height: 78px;
            margin: 0 10px;
        }

        &__author-wrap {
            font-size: 12px;
            width: 390px;
            display: inline-block;
            vertical-align: top;
        }

        &__author-info {
            display: flex;
            justify-content: space-between;
        }

        &__author-text-prof {
            color: #ccc;
            display: inline-block;
        }

        &__name, &__spec {
            vertical-align: top;
            display: inline-block;

            .item__name-href {
                color: #373645;
            }

            .item__name-href {
                color: #6f9ccb;
            }
        }

        &__time-ago {
            font-size: 12px;
            color: #ccc;
            text-align: right;
            display: inline-block;
        }

        &__img-href {
            display: inline-block;
            margin-top: 42px;
            margin-right: 10px;

            a {
                display: block;
                background: inline('./img/news-img-href.png');
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
            }
        }
        &__video-href {
            display: inline-block;
            margin-top: 42px;
            margin-right: 10px;

            a {
                display: block;
                background: inline('./img/news-video-href.png');
                background-repeat: no-repeat;
                width: 30px;
                height: 30px;
            }
        }

        &__social {
            display: inline-block;
            width: 81px;
            margin-top: 20px;
            border-right: 1px solid #ccc;
        }

        &__like {
            position: relative;
            background: resolve('./img/like.png');
            margin: 5px auto 30px;
            width: 30px;
            height: 27px;
            background-repeat: no-repeat;
        }
        &__share {
            position: relative;
            background: resolve('./img/share.png');
            margin: 5px auto 30px;
            width: 27px;
            height: 27px;
            background-repeat: no-repeat;
        }
        &__comment {
            position: relative;
            background: resolve('./img/comment.png');
            margin: 0 auto;
            width: 29px;
            height: 30px;
            background-repeat: no-repeat;
        }

        &__social-val {
            position: absolute;
            top: -5px;
            right: -8px;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            color: #fff;
            font-size: 8px;
            background: #373645;
            line-height: 16px;
            margin: 0 auto;
            text-align: center;
        }

        &__text {
            vertical-align: top;
            margin-left: 10px;
            display: inline-block;
            width: 490px;
        }

        &__text-header {
             margin-top: 10px;
             color: #373645;
             text-align: left;
             font-size: 25px;
             text-transform: uppercase;
        }

         &__text-content {
              color: #ccc;
              font-size: 12px;
              text-align: justify;
              margin-top: 10px;
          }

          .btn {
              margin-top: 5px;
              float: right;
              margin-bottom: 10px;
              background: #373645;
          }
    }
    #news-slider {
        .owl-buttons div{
            color: #6e9bca;
            zoom: 1;
            position: absolute;
            bottom: 140px;
            background: none;
            opacity: 1;
            font-size: 65px;
            font-weight: 100;
            border-radius: 0;
        }
        .owl-prev {
            left: -30px;
            padding-left: 0;
            margin-left: 5px;
        }
        .owl-next {
            right: -30px;
            padding-right: 0;
            margin-right: 5px;
        }

        .owl-pagination {
            display: none;
        }

    }
}
@media (max-width: 794px) {
    #news-slider .owl-prev {
        left: -10px !important;
    }
    #news-slider .owl-next {
        right: -10px !important;
    }
}
@media (max-width: 700px) {
    #news-slider .owl-prev {
        left: 0px !important;
    }
    #news-slider .owl-next {
        right: 0px !important;
    }
}
@media (max-width: 779px) {
    #news-slider .item__date, #news-slider .item__social {
        display: none;
    }
    #news-slider .item {
        width: 510px;
    }
}
@media (max-width: 617px) {
    #news-slider .owl-prev {
        left: -10px !important;
        top: -70px;
    }
    #news-slider .owl-next {
        right: -10px !important;
        top: -70px;
    }

    #news-slider .item {
        width: inherit;
        &__text-header {
            font-size: 12px;
        }
        &__author-wrap {
            display: none;
         }
         &__text-content {
            font-size: 8px;
          }
          .btn {
              float: left;
          }
    }
}