.team {
    .block-head__wrap {
        margin: 90px 0 30px;
    }

    .item {
        width: 290px;
        background: white;
        margin: 0 auto 55px;

        &__header {
            font-size: 25px;
            text-transform: uppercase;
            margin-top: 15px;
            text-align: center;
        }
        &__text {
            text-align: center;
            text-transform: uppercase;
            font-size: 12px;
            color: #cccccc;
            margin-top: 0px;
        }
        &__social-list {
            padding: 0;
            margin: 20px auto 0;
            width: 200px;
            display: flex;
            justify-content: space-between;
        }
        &__social-item {
            list-style: none;
        }
        &__social-href {
            display: block;
            text-align: center;
            width: 25px;
            height: 25px;
            line-height: 25px;
            color: white;
            background: #6e9bca;
        }
    }
    .item__pic{
        position: relative;
        height: 290px;
        background-repeat: no-repeat;
    }
    .owl-item:nth-child(1) .item__pic{
        background: resolve('./img/team-1.png');
    }
    .owl-item:nth-child(2) .item__pic{
        background: resolve('./img/team-2.png');
    }
    .owl-item:nth-child(3) .item__pic{
        background: resolve('./img/team-3.png');
    }
    .owl-item:nth-child(4) .item__pic{
        background: resolve('./img/team-4.png');
    }
    .owl-item:nth-child(5) .item__pic{
        background: resolve('./img/team-1.png');
    }
    .owl-item:nth-child(6) .item__pic{
        background: resolve('./img/team-2.png');
    }
    .owl-item:nth-child(7) .item__pic{
        background: resolve('./img/team-1.png');
    }
    .owl-item:nth-child(8) .item__pic{
        background: resolve('./img/team-2.png');
    }
    .owl-item:nth-child(9) .item__pic{
        background: resolve('./img/team-3.png');
    }
    .owl-item:nth-child(10) .item__pic{
        background: resolve('./img/team-4.png');
    }
    .owl-item:nth-child(11) .item__pic{
        background: resolve('./img/team-1.png');
    }
    .owl-item:nth-child(12) .item__pic{
        background: resolve('./img/team-2.png');
    }
    .btn {
        margin: 20px auto 0;
        background: #373645;
        width: 95px;
    }
    #team-slider {
        .owl-buttons div{
            color: #6e9bca;
            zoom: 1;
            position: absolute;
            bottom: 286px;
            background: none;
            opacity: 1;
            font-size: 65px;
            font-weight: 100;
            border-radius: 0;
        }
        .owl-prev {
            left: -30px;
            padding-left: 0;
            margin-left: 5px;
        }
        .owl-next {
            right: -30px;
            padding-right: 0;
            margin-right: 5px;
        }

        .owl-pagination {
            position: absolute;
            bottom: -50px;
            width: 100%;
            text-align: center;
            z-index: 5;
        }

        .owl-pagination .active span{
            background: #6e9bca;
        }

        .owl-pagination span {
            width: 60px;
            height: 4px;
            border: 0;
            background: #cccccc;
            opacity: 1;
        }
    }
}

@media (max-width: 1000px) {
    #team-slider .owl-prev {
        left: -10px !important;
    }
    #team-slider .owl-next {
        right: -10px !important;
    }
}
@media (max-width: 810px) {
    #team-slider .owl-prev {
        left: 0px !important;
    }
    #team-slider .owl-next {
        right: 0px !important;
    }
}
@media (max-width: 779px) {
    #team-slider .owl-prev {
        left: -10px !important;
    }
    #team-slider .owl-next {
        right: -10px !important;
    }
}