.team#team
    .container
        .block-head__wrap
            .head-text Our team

        #team-slider.owl-carousel
            .item
                .item__pic
                .item__header david morillo
                .item__text ceo founder
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header isabella doomer
                .item__text team dırector
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header arthur simon
                .item__text creatıve director
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header amanda aman
                .item__text copy writer
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header david morillo
                .item__text ceo founder
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header david morillo
                .item__text ceo founder
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header isabella doomer
                .item__text team dırector
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header arthur simon
                .item__text creatıve director
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header david morillo
                .item__text ceo founder
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header isabella doomer
                .item__text team dırector
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
            .item
                .item__pic
                .item__header arthur simon
                .item__text creatıve director
                .btn look at me
                ul.item__social-list
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-facebook
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-twitter
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-linkedin
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-skype
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-google-plus
                    li.item__social-item
                        a.item__social-href(href='')
                            i.fa.fa-behance
