footer#contact
    .footer
        .container
            .footer__info
                .footer__logo
                    .footer__company-name
                        a(href='') Quarantie
                    .footer__description
                        a(href='') Sofware Development
                ul.footer__social
                    li.footer__social-item
                        a.footer__social-href(href='')
                            i.fa.fa-facebook
                    li.footer__social-item
                        a.footer__social-href(href='')
                            i.fa.fa-twitter
                    li.footer__social-item
                        a.footer__social-href(href='')
                            i.fa.fa-linkedin
                    li.footer__social-item
                        a.footer__social-href(href='')
                            i.fa.fa-skype
                    li.footer__social-item
                        a.footer__social-href(href='')
                            i.fa.fa-google-plus
                    li.footer__social-item
                        a.footer__social-href(href='')
                            i.fa.fa-behance
                .footer__newsletter
                    .footer__newsletter-header NEWSLETTER
                    .footer__newsletter-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    form.footer__form(action='')
                    input.footer__input
                    button.footer__button
                        i.fa.fa-envelope-o
            .block-head__wrap
                .head-text QUARANTIE SOFTWARE DEVELOPMENT INC.
        .footer__cities
            .container
                .footer__cities-wrap
                    .footer__cities-item
                        .footer__city SYDNEY
                        .footer__address Level 6, 341 George St <br> Sydney, NSW, 2000, Australia
                        .footer__city-info Phone
                        .footer__city-val
                            a(href='tel:+61292621443') +61 2 9262 1443
                        br
                        .footer__city-info Fax
                        .footer__city-val
                            a(href='tel:+61292621443') +61 2 9262 1443
                        br
                        .footer__city-info e-mail
                        .footer__city-val
                            a(href='mailto:sydney@quarantie.com') sydney@quarantie.com
                    .footer__cities-item
                        .footer__city SYDNEY
                        .footer__address Level 6, 341 George St <br> Sydney, NSW, 2000, Australia
                        .footer__city-info Phone
                        .footer__city-val
                            a(href='tel:+61292621443') +61 2 9262 1443
                        br
                        .footer__city-info Fax
                        .footer__city-val
                            a(href='tel:+61292621443') +61 2 9262 1443
                        br
                        .footer__city-info e-mail
                        .footer__city-val
                            a(href='mailto:sydney@quarantie.com') sydney@quarantie.com
                    .footer__cities-item
                        .footer__city SYDNEY
                        .footer__address Level 6, 341 George St <br> Sydney, NSW, 2000, Australia
                        .footer__city-info Phone
                        .footer__city-val
                            a(href='tel:+61292621443') +61 2 9262 1443
                        br
                        .footer__city-info Fax
                        .footer__city-val
                            a(href='tel:+61292621443') +61 2 9262 1443
                        br
                        .footer__city-info e-mail
                        .footer__city-val
                            a(href='mailto:sydney@quarantie.com') sydney@quarantie.com
                    .footer__cities-item
                        .footer__city SYDNEY
                        .footer__address Level 6, 341 George St <br> Sydney, NSW, 2000, Australia
                        .footer__city-info Phone
                        .footer__city-val
                            a(href='tel:+61292621443') +61 2 9262 1443
                        br
                        .footer__city-info Fax
                        .footer__city-val
                            a(href='tel:+61292621443') +61 2 9262 1443
                        br
                        .footer__city-info e-mail
                        .footer__city-val
                            a(href='mailto:sydney@quarantie.com') sydney@quarantie.com
                .footer__copy Copyright © 2013 - Quarantie PSD Template - Design by Göksel Vançin -  All Right Reserved

