.footer {
    background: #373645;
    padding: 50px 0 0 0;
    width: 100%;

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__social {
        padding: 0;
        width: 200px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    &__logo {
        width: 200px;
        margin-bottom: 40px;
     }


    &__social-item {
        list-style: none;
    }

    &__social-href {
        display: block;
        text-align: center;
        width: 25px;
        height: 25px;
        line-height: 25px;
        color: #fff;
        background: #6e9bca;
    }

    &__company-name {
        font-size: 32px;
        font-family: 'Nexa Slab';
        a {
            color: #6e9bca;
        }
    }

    &__description {
        font-size: 16px;
        a {
            color: white;
        }
    }
    &__newsletter {
        width: 290px;
        padding-bottom: 20px;
        &-header {
            color: #6e9bca;
            font-size: 14px;
            padding-bottom: 5px;
        }
        &-text {
            color: white;
            font-size: 12px;
            padding-bottom: 5px;
        }
    }
    &__input {
        width: 250px;
        height: 35px;
        border: 1px solid #cccccc;
        color: grey;
        padding: 10px 5px;
    }

    &__button {
        display: inline-block;
        width: 40px;
        height: 35px;
        margin-left: -5px;
        background: white;
        border: 1px solid #cccccc;
        color: #cccccc;
    }

    &__input:focus,&__button:focus {
        outline:none;
    }

    .block-head__wrap {
        font-size: 25px;
        margin-top: 30px;
    }

    .head-text {
        background: #373645;
        color: #6e9bca;
    }

    &__cities {
        background:#373645; ;
        color: white;
        position: relative;
    }

    &__cities:after {
        position: absolute;
        width: 100%;
        background: resolve('./img/project-background.png');
        bottom: 0;
        z-index: 0;
        opacity: 0.2;
        height: 100%;
        content:' ';
    }

    &__cities-wrap {
        position: relative;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding-bottom: 30px;
    }

    &__cities-item {
        margin: 45px 0 0 0;
        width: 290px;
     }

    &__city {
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 5px;
    }

    &__address {
        font-size: 12px;
        margin-bottom: 15px;
    }

    &__city-info {
         display: inline-block;
         color: #6e9bca;
         margin-right: 5px;
         margin-bottom: 10px;
         width: 40px;
        font-size: 12px;
    }

    &__city-val {
         display: inline-block;
         font-size: 12px;
        a {
            color: #fff;
         }
     }

    &__copy {
         text-align: center;
         color: #fff;
         padding-bottom: 60px;
         font-size: 12px;
     }

}

@media (max-width: 444px) {
    .footer__info {
        flex-direction: column;
        align-items: flex-start;
    }
}
@media (max-width: 624px) {
    .footer__cities:after  {
        display: none;
    }
}