.services {


    .block-head__wrap {
        margin-bottom: 85px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 50px;
    }

    &__item {
        text-align: center;
        width: 290px;
        margin: 0 7px 40px;
    }

    &__direction {
        font-size: 25px;
        text-transform: uppercase;
        margin-top: 30px;
    }

    &__discription {
        margin-top: 10px;
        font-size: 12px;
        color: #ccc;
    }
    .btn {
       margin: 15px auto;
    }
    .services__pic {
        background-repeat: no-repeat !important;
        background-position: center !important;
        height: 120px;
    }

    &__item:nth-child(1) .services__pic   {
         background: resolve('./img/sercives-1.png');
    }

    &__item:nth-child(2) .services__pic   {
         background: resolve('./img/services-2.png');
    }

    &__item:nth-child(3) .services__pic   {
         background: resolve('./img/services-3.png');
    }

    &__item:nth-child(4) .services__pic   {
         background: resolve('./img/services-4.png');
    }
}

@media (max-width: 850px) {
    .services__wrapper {
        flex-wrap: wrap;
        justify-content: center;
    }
}
