.container
    #services.services
        .block-head__wrap
            .head-text SERVICES
        .services__wrapper
            .services__item
                .services__pic
                .services__direction Web development
                .services__discription Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .btn READ MORE
            .services__item
                .services__pic
                .services__direction Web development
                .services__discription Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .btn READ MORE
            .services__item
                .services__pic
                .services__direction Web development
                .services__discription Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .btn READ MORE
            .services__item
                .services__pic
                .services__direction Web development
                .services__discription Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                .btn READ MORE