.block-head__wrap {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 100;
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.head-text {
    background: #fff;
    text-align: center;
    z-index: 100;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
}
.block-head__wrap:after {
    width: 100%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 50%;
    left: 0;
    content: ' ';
    z-index: 0;
}