.btn {
    text-transform: uppercase;
    color: #fff;
    background: #6e9bca;
    font-size: 1.4rem;
    width: 115px;
    height: 25px;
    text-decoration: none;
    line-height: 25px;
    text-align: center;
}