#main-slider.owl-carousel
    .item
        img(src="/blocks/main-slider/img/slide-1.png")
    .item
        img(src="/blocks/main-slider/img/slide-2.png")
    .item
        img(src="/blocks/main-slider/img/slide-1.png")
