#main-slider {
    z-index: 0;

    .item {
        width: 100%;
        height: 100%;
        position: relative;
    }
    .item:after {
        position: absolute;
        content:' ';
        background: resolve('./img/effect-slider-1.png');
        background-position: bottom;
        background-repeat: no-repeat;
        bottom: 6px;
        width: inherit;
        height: inherit;
        z-index: 1;
        opacity: 0.2;
    }

    .owl-pagination {
        position: absolute;
        bottom: 70px;
        width: 100%;
        text-align: center;
        z-index: 5;
    }

    .owl-pagination .active span{
        background: #6e9bca;
    }

    .owl-pagination span {
        width: 60px;
        height: 4px;
        border: 0;
        background: white;
        opacity: 1;
    }

    .owl-buttons div{
        color: #fff;
        zoom: 1;
        position: absolute;
        bottom: 286px;
        opacity: 1;
        font-size: 45px;
        width: 70px;
        height: 70px;
        line-height: 65px;
        font-weight: 100;
        border-radius: 0;
        border: 1px solid #fff;
        background: rgba(255,255,255,.14);
    }
    .owl-prev {
        left: 0;
        padding-left: 0;
        margin-left: 5px;
    }
    .owl-next {
        right: 0;
        padding-right: 0;
        margin-right: 5px;
    }

}

@media (max-width: 1280px) {
    #main-slider  .owl-buttons {
        display: none;
    }
}