.projects {

    .block-head__wrap {
        margin-bottom: 10px;
    }

    &__background {
        padding: 65px 0 0 0;
        background: resolve("./img/project-background.png");
        width: 100%;
        height: auto;
        z-index: 10;
    }
    .item {
        width: 290px;
        background: white;
        margin: 0 auto 55px;
        border-bottom: 1px solid #373645;

        &__header {
            font-size: 25px;
            text-transform: uppercase;
            margin-top: 30px;
            text-align: center;
        }
        &__text {
            margin-top: 10px;
            text-align: center;
            font-size: 12px;
            color: #3598db;
        }
    }

    .item__pic{
        position: relative;
        height: 290px;
        background-repeat: no-repeat;
    }
    .owl-item:nth-child(1) .item__pic{
        background: resolve('./img/project-pic-1.png');
    }
    .owl-item:nth-child(2) .item__pic{
        background: resolve('./img/project-pic-2.png');
    }
    .owl-item:nth-child(3) .item__pic{
        background: resolve('./img/project-pic-3.png');
    }
    .owl-item:nth-child(4) .item__pic{
        background: resolve('./img/project-pic-4.png');
    }
    .owl-item:nth-child(5) .item__pic{
        background: resolve('./img/project-pic-1.png');
    }
    .owl-item:nth-child(6) .item__pic{
        background: resolve('./img/project-pic-2.png');
    }

    .item__sub-pic{
        height: 170px;
        background-repeat: no-repeat !important;
        background-position: center !important;
        width: 290px;
    }
    .owl-item:nth-child(1) .item__sub-pic{
        background: resolve('./img/project-subpic-1.png');
    }
    .owl-item:nth-child(2) .item__sub-pic{
        background: resolve('./img/project-subpic-2.png');
    }
    .owl-item:nth-child(3) .item__sub-pic{
        background: resolve('./img/project-subpic-3.png');
    }
    .owl-item:nth-child(4) .item__sub-pic{
        background: resolve('./img/project-subpic-4.png');
    }
    .owl-item:nth-child(5) .item__sub-pic{
        background: resolve('./img/project-subpic-1.png');
    }
    .owl-item:nth-child(6) .item__sub-pic{
        background: resolve('./img/project-subpic-2.png');
    }

    .btn {
        width: 80px;
        background: #373645;
        margin: 20px auto 0;
    }

    .item__pic-background {
        display: none;
        position: absolute;
        content:' ';
        width: 290px;
        height: 290px;
        left:0;
        top:0;
        background: rgba(53, 152, 219, 0.7);
        font-size: 25px;

        .item__likes{
            background: #3598db;
            color: white;
            width: 40px;
            height: 40px;
            line-height: 45px;
            margin-right: 20px;
            text-align: center;
        }
        .item__share{
            margin-left: 20px;
            color: white;
            background: #3598db;
            width: 40px;
            height: 40px;
            line-height: 45px;
            margin-right: 20px;
            text-align: center;
        }
        a:hover {
            background: #373645;
        }
    }
    .item__pic:hover .item__pic-background{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #projects-slider {
        .owl-buttons div{
            color: #6e9bca;
            zoom: 1;
            position: absolute;
            bottom: 386px;
            background: none;
            opacity: 1;
            font-size: 65px;
            font-weight: 100;
            border-radius: 0;
        }
        .owl-prev {
            left: -30px;
            padding-left: 0;
            margin-left: 5px;
        }
        .owl-next {
            right: -30px;
            padding-right: 0;
            margin-right: 5px;
        }
        .owl-pagination {
            display: none;
        }
    }

}

@media (max-width: 1000px) {
    #projects-slider .owl-prev {
        left: -10px !important;
    }
    #projects-slider .owl-next {
        right: -10px !important;
    }
}
@media (max-width: 810px) {
    #projects-slider .owl-prev {
        left: 0px !important;
    }
    #projects-slider .owl-next {
        right: 0px !important;
    }
}
@media (max-width: 779px) {
    #projects-slider .owl-prev {
        left: -10px !important;
    }
    #projects-slider .owl-next {
        right: -10px !important;
    }
}