#projects.projects
    .container
        .block-head__wrap
            .head-text PROJECTS
    .projects__background
        .container
            #projects-slider.owl-carousel
                .item
                    .item__pic
                        .item__pic-background
                            a.item__likes
                                i.fa.fa-heart-o
                            a.item__share
                                i.fa.fa-share-alt
                    .item__header DATING APP
                    .item__text PROJECT STATUS
                    .item__sub-pic
                    .btn details
                .item
                    .item__pic
                        .item__pic-background
                            a.item__likes
                                i.fa.fa-heart-o
                            a.item__share
                                i.fa.fa-share-alt
                    .item__header WEDDING SITE
                    .item__text PROJECT STATUS
                    .item__sub-pic
                    .btn details
                .item
                    .item__pic
                        .item__pic-background
                            a.item__likes
                                i.fa.fa-heart-o
                            a.item__share
                                i.fa.fa-share-alt
                    .item__header TRAVEL GUIDE
                    .item__text PROJECT STATUS
                    .item__sub-pic
                    .btn details
                .item
                    .item__pic
                        .item__pic-background
                            a.item__likes
                                i.fa.fa-heart-o
                            a.item__share
                                i.fa.fa-share-alt
                    .item__header BABY E-COMMERCE
                    .item__text PROJECT STATUS
                    .item__sub-pic
                    .btn details
                .item
                    .item__pic
                        .item__pic-background
                            a.item__likes
                                i.fa.fa-heart-o
                            a.item__share
                                i.fa.fa-share-alt
                    .item__header DATING APP
                    .item__text PROJECT STATUS
                    .item__sub-pic
                    .btn details
                .item
                    .item__pic
                        .item__pic-background
                            a.item__likes
                                i.fa.fa-heart-o
                            a.item__share
                                i.fa.fa-share-alt
                    .item__header DATING APP
                    .item__text PROJECT STATUS
                    .item__sub-pic
                    .btn details