doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width,initial-scale=1")
        title= pageTitle
        link(rel="stylesheet" href="/owl-carousel/owl.carousel.css")
        link(rel="stylesheet" href="/owl-carousel/owl.theme.css")
        script(src="/owl-carousel/jquery-1.9.1.min.js")
        script(src="/owl-carousel/owl.carousel.js")
        link(href='main.css', rel='stylesheet')
    body

        include ./blocks/header/header
        include ./blocks/main-slider/main-slider
        include ./blocks/about/about
        include ./blocks/services/services
        include ./blocks/projects/projects
        include ./blocks/team/team
        include ./blocks/news/news
        include ./blocks/clients/clients
        include ./blocks/footer/footer
        script(src='main.js')