@import 'normalize.css';


:root {
    font-size: 10px;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
a {
    text-decoration: none;
    color: black;
}

body {

    @font-face: {
        font-family: 'Nexa Slab';
        src: url("./fonts/Nexa%20Slab%20Regular.otf");
    }
    @font-face: {
          font-family: 'Avenir';
          src: url("./fonts/AvenirNextLTPro-UltLt.otf");
      }
    font-size: 1.6rem;
    font-family: 'Avenir', sans-serif;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (max-width: 1400px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 992px) {
    .container {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
