#menu.header__wrap
    .header__logo
        a.header__company-name(href='') Quarantie
        a.header__company-description(href='') Sofware Development
    menu.header__menu
        a.header__menu-icon(href='')
            i.fa.fa-bars
        ul.header__list#menu-list
           li.list-item
                a.item-href.item-href--active.menu__item-href(href='#1')
           li.list-item
                a.item-href.menu__item-href(href='#1') About
                ul.header__dropdown
                    li.dropdown__item
                        a.dropdown__href(href='#') web&nbsp;development
                    li.dropdown__item
                        a.dropdown__href(href='#') web development
                    li.dropdown__item
                        a.dropdown__href(href='#') web development
                    li.dropdown__item
                        a.dropdown__href(href='#') web development
                    li.dropdown__item
                        a.dropdown__href(href='#') web development
           li.list-item
                a.item-href.menu__item-href(href='#1') services
                ul.header__dropdown
                   li.dropdown__item
                       a.dropdown__href(href='#') web&nbsp;development
                   li.dropdown__item
                       a.dropdown__href(href='#') web development
                   li.dropdown__item
                       a.dropdown__href(href='#') web development
                   li.dropdown__item
                       a.dropdown__href(href='#') web development
                   li.dropdown__item
                       a.dropdown__href(href='#') web development
           li.list-item
                a.item-href.menu__item-href(href='#1') project
                ul.header__dropdown
                    li.dropdown__item
                        a.dropdown__href(href='#') web&nbsp;development
                    li.dropdown__item
                        a.dropdown__href(href='#') web development
                    li.dropdown__item
                        a.dropdown__href(href='#') web development
                    li.dropdown__item
                        a.dropdown__href(href='#') web development
                    li.dropdown__item
                        a.dropdown__href(href='#') web development

           li.list-item
               a.item-href.menu__item-href(href='#1') TEAM
           li.list-item
               a.item-href.menu__item-href(href='#1') news
           li.list-item
                a.item-href.menu__item-href(href='#1') CLIENTS
           li.list-item
                a.item-href.menu__item-href(href='#1') contact
        ul.header__social-list
            li.header__social-item
                a.header__social-href(href='#')
                    i.fa.fa-facebook
            li.header__social-item
                a.header__social-href(href='#')
                    i.fa.fa-twitter
            li.header__social-item
                a.header__social-href(href='#')
                    i.fa.fa-linkedin

        .header__find
            form.header__form(action='')
                input.header__input
                button.header__button
                    i.fa.fa-search