
.header {
    &__wrap {
        width: 1250px;
        height: 116px;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 40px;
        display: flex;
        justify-content: flex-start;
        z-index: 1000;
    }
    &__wrap--fixed {
        position: fixed;
        top:0;
    }

    &__logo {
        font-family: 'Nexa Slab';
        width: 240px;
        height: inherit;
        background: #373645;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-left: 40px;
    }
    &__company-name {
        font-size: 32px;
        color: #6e9bca;
    }
    &__company-description {
        color: white;
        font-size: 16px;
        font-weight: 100;
    }
    &__menu {
        width: 1100px;
        background: white;
        display: flex;
        align-items: center;
        height: 116px;
        margin: 0;
        border-bottom: 1px solid #cccccc;
        border-right: 1px solid #cccccc;
    }

    &__list {
        height: inherit;
        padding: 0;
        margin: 0;
        .list-item {
            vertical-align: middle;
            text-transform: uppercase;
            display: inline-block;
            padding:0;
            margin-right: 15px;
            position: relative;
            z-index: 0;
        }
        .item-href {
            color: black;
            text-decoration: none;
            font-size:14px;
            height: 116px;
            display: block;
            line-height: 116px;
            border-top: 5px solid rgba(255,255,255,0);
            border-bottom: 5px solid rgba(255,255,255,0);
        }
        .item-href--active {
            border-bottom: 5px solid #6e9bca;
        }
        .item-href:hover + ul {
            display: block;
        }
        .list-item:hover .item-href {
            border-bottom: 5px solid #6e9bca;
            border-top: 5px solid #373645;
        }
        .list-item:first-child  .item-href{
            background: resolve('./img/menu-home-logo.png') 0% 50%;
            background-repeat: no-repeat;
            width: 30px;

        }
        .list-item:first-child {
            margin-right: 23px;
        }
    }
    &__dropdown {
        position: absolute;
        display: none;
        padding: 0;
        top: 116px;
        list-style: none;
        font-size: 14px;
        z-index: 100;

        .dropdown__href {
             margin-top: 10px;
             text-decoration: none;
             color: #fff;
             font-size: 14px;
         }
        .dropdown__item {
             padding: 20px 27px;
             background: #6e9bca;
             border-bottom: 1px solid #fff;
        }
        .dropdown__item:hover {
            background: #373645;
        }
     }
    &__dropdown:hover {
        display: block;
     }

    &__social-list {
        margin: 0;
        padding: 0;
        padding: 0 20px;
    }

    &__social-item {
        display: inline-block;
        margin-right: 5px;
     }

    &__social-href {
        color: white;
        width: 25px;
        height: 25px;
        background: #6e9bca;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    &__input {
        width: 175px;
        height: 37px;
        padding: 5px 10px;
        border: 1px solid rgb(238, 238, 238);
    }
    &__input:focus, &__button {
        outline: none;
    }
    &__button {
        height: 37px;
        width: 40px;
        margin-left: -5px;
        background: none;
        border: 1px solid rgb(238, 238, 238);
        color: rgb(238, 238, 238);
     }
    &__menu-icon {
        font-size: 30px;
        color: #cccccc;
        display: none;
    }
}

@media (max-width: 1280px) {
    .header__wrap {
        width: 800px;
    .header__social-list,.header__find {
        display: none;
    }
    .header__menu {
        width: 800px;
    }
}
}

@media (max-width: 814px) {
    .header__logo {
        display: none;
    }
    .header__menu-icon {
        display: block;
    }
    .header__menu {
        background: none;
        border: none;
        width: 100px !important;
        display: block;
        height: 500px !important;
        padding: 0;
    }
    .header__wrap {
        height: 500px !important;
        width: 200px;
        margin: 0;
        padding-left: 10px;
    }
    .header__list {
        display: none;
        height: 500px;
        width: 200px;
        padding-left: 30px;
        position: absolute;
        top: 4px;
        left: 40px;
    }
    .header__list .list-item {
        width: 100px;
        height: 30px;
        display: block;
    }
    .header__list .list-item:hover .item-href, .header__list .item-href--active {
        border: 0;
    }
    .header__list .list-item, .header__list .item-href{
        line-height: 30px;
        height: 30px;
        border: 0;
    }
    .header__dropdown {
        right: -150px;
        top: 5px;
    }
    .header__list .list-item:first-child {
        margin-bottom: 5px;
    }
    .header__list--visible {
        display: block;
    }
    .header__dropdown .dropdown__item {
        padding: 10px;
    }
    .header__dropdown:hover {
        display: block;
    }

}
