.clients {
    padding-bottom: 100px;

    .block-head__wrap {
        margin-top: 90px;
    }

    &__pic {
        display: flex;
        height: 100px;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
     }
    #clients-slider {
        .owl-buttons div{
            color: #6e9bca;
            zoom: 1;
            position: absolute;
            bottom: 0px;
            background: none;
            opacity: 1;
            font-size: 65px;
            font-weight: 100;
            border-radius: 0;
        }
        .owl-prev {
            left: -30px;
            padding-left: 0;
            margin-left: 5px;
        }
        .owl-next {
            right: -30px;
            padding-right: 0;
            margin-right: 5px;
        }

        .owl-pagination {
            display: none;
        }
    }
}

@media (max-width: 1110px) {
    #clients-slider {
        font-size: 45px !important;
        .owl-prev {
            left: 5px !important;
        }
        .owl-next {
            right: 5px !important;
        }
    }
}
@media (max-width: 992px) {
    #clients-slider {
        font-size: 45px !important;
        .owl-prev {
            left: -35px !important;
        }
        .owl-next {
            right: -35px !important;
        }
    }
}
@media (max-width: 796px) {
    #clients-slider {
        font-size: 45px !important;
    .owl-prev {
        left: -15px !important;
    }
    .owl-next {
        right: -15px !important;
    }
}
}