.clients#clients
    .container
        .block-head__wrap
            .head-text clients
        #clients-slider.owl-carousel
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-1.png')
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-2.png')
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-3.png')
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-4.png')
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-5.png')
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-6.png')
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-7.png')
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-8.png')
            .item
                .clients__pic
                    img(src='./blocks/clients/img/clients-1.png')